h1 {
  font-family: arial, helvetica, serif;
  font-size: 2em;
}

h2 {
  font-family: arial, helvetica, serif;
  font-size: 1.5em;
}


a {
  font-family: arial, helvetica, serif;
  font-size: 1em;
  color: #f9c507;
  text-decoration: none;
}

a:hover {
  font-family: arial, helvetica, serif;
  font-size: 1em;
  color: #f9c507;
  font-weight: bold;
}

ul {
  list-style: none;
  line-height: 1.5;
}
